<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{core/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies import export</title>
  </head>
  <body>
    <div layout:fragment="content">
      <!-- import movies success alert -->
      <div
        class="alert alert-success alert-dismissible fade show"
        role="alert"
        th:if="${param.importSuccess != null && param.importSuccess[0] == 'true'}"
      >
        <h4 class="alert-heading">Success!</h4>
        <p>Import operation has been performed successfully.</p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      <div class="d-flex flex-wrap gap-3">
        <a
          role="button"
          class="btn btn-primary"
          th:href="@{/admin/movies/export}"
          >Export movies to JSON</a
        >
      </div>

      <hr />

      <div>
        <form
          class="mb-3"
          th:action="@{/admin/movies/import}"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="moviesJsonFile"
            class="form-control mb-3"
            accept="application/json"
          />
          <p
            th:if="${moviesImportError != null}"
            th:text="${moviesImportError}"
            class="form-text text-danger"
          ></p>
          <button type="submit" class="btn btn-primary">
            Import movies from JSON
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
