<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{core/layout}"
>
  <body>
    <article layout:fragment="content">
      <img
        th:src="${movie.poster}"
        th:alt="${movie.title + ' poster'}"
        class="mb-2"
      />

      <section class="mb-3">
        <header class="d-flex align-items-center gap-2">
          <h1 th:text="${movie.title}" class="fw-bold"></h1>

          <span
            th:text="'(' + ${movie.released.year} + ')'"
            class="text-muted"
          ></span>

          <form
            sec:authorize="hasRole('ROLE_ADMIN')"
            th:action="@{/movies/{id}/delete(id=${movie.id})}"
            method="post"
          >
            <button
              type="submit"
              class="btn btn-outline-danger"
              title="delete this movie"
            >
              <i class="bi bi-trash3"></i>
            </button>
          </form>
        </header>
      </section>

      <section sec:authorize="isAuthenticated()" class="mb-2">
        <div class="d-flex align-items-center gap-2 fs-5 mb-1">
          <h5 class="m-0">Rate this movie:</h5>
          <form
            th:action="@{/movies/{id}/rate(id=${movie.id})}"
            method="post"
            id="ratingForm"
          >
            <input type="hidden" name="value" id="ratingValue" />
            <div class="star-rating">
              <i
                role="button"
                class="bi"
                th:classappend="${userMovieRatingValue != null && userMovieRatingValue >= 1} ? 'bi-star-fill' : 'bi-star'"
                onclick="submitRatingForm(1)"
              ></i>
              <i
                role="button"
                class="bi"
                th:classappend="${userMovieRatingValue != null && userMovieRatingValue >= 2} ? 'bi-star-fill' : 'bi-star'"
                onclick="submitRatingForm(2)"
              ></i>
              <i
                role="button"
                class="bi"
                th:classappend="${userMovieRatingValue != null && userMovieRatingValue >= 3} ? 'bi-star-fill' : 'bi-star'"
                onclick="submitRatingForm(3)"
              ></i>
              <i
                role="button"
                class="bi"
                th:classappend="${userMovieRatingValue != null && userMovieRatingValue >= 4} ? 'bi-star-fill' : 'bi-star'"
                onclick="submitRatingForm(4)"
              ></i>
              <i
                role="button"
                class="bi"
                th:classappend="${userMovieRatingValue != null && userMovieRatingValue >= 5} ? 'bi-star-fill' : 'bi-star'"
                onclick="submitRatingForm(5)"
              ></i>
            </div>
          </form>
        </div>

        <div class="d-flex align-items-center gap-3">
          <form
            th:action="@{/movies/{id}/to-watch(id=${movie.id})}"
            method="post"
          >
            <button class="btn border-0 p-0">
              <i
                class="bi bi-card-list fs-2"
                th:classappend="${isMovieInToWatchList != null} ? 'text-success' : ''"
                title="add to watch list"
              ></i>
            </button>
          </form>

          <form
            th:action="@{/movies/{id}/favorite(id=${movie.id})}"
            method="post"
          >
            <button class="btn border-0 p-0">
              <i
                class="bi bi-bookmark-heart fs-2"
                th:classappend="${isFavoriteMovie != null} ? 'text-danger' : ''"
                title="add to favorites"
              ></i>
            </button>
          </form>

          <form
            th:action="@{/movies/{id}/ignore(id=${movie.id})}"
            method="post"
          >
            <button class="btn border-0 p-0">
              <i
                class="bi bi-x-octagon fs-2"
                th:classappend="${isMovieInToIgnoreList != null} ? 'text-secondary' : ''"
                title="add to ignore list"
              ></i>
            </button>
          </form>
        </div>

        <script>
          const submitRatingForm = (ratingValue) => {
            document.getElementById("ratingValue").value = ratingValue;
            document.getElementById("ratingForm").submit();
          };
        </script>
      </section>

      <section class="mb-2">
        <header class="mb-1">
          <h3>Plot</h3>
        </header>

        <p th:text="${movie.plot}"></p>
      </section>

      <section class="mb-2">
        <header class="mb-1">
          <h3>Staff</h3>
        </header>

        <dl class="row row-cols-auto gap-2">
          <div class="col">
            <dt>Directors</dt>
            <dd>
              <ul>
                <li th:each="director : ${movie.directors}">
                  <span th:text="${director.name}"></span>
                </li>
              </ul>
            </dd>
          </div>

          <div class="col">
            <dt>Writers</dt>
            <dd>
              <ul>
                <li th:each="writer : ${movie.writers}">
                  <span th:text="${writer.name}"></span>
                </li>
              </ul>
            </dd>
          </div>

          <div class="col">
            <dt>Actors</dt>
            <dd>
              <ul>
                <li th:each="actor : ${movie.actors}">
                  <span th:text="${actor.name}"></span>
                </li>
              </ul>
            </dd>
          </div>
        </dl>
      </section>

      <section class="mb-2">
        <header class="mb-1">
          <h3>Details</h3>
        </header>

        <dl class="row row-cols-auto gap-2">
          <div th:if="${movie.metaScore}">
            <dt>Metacritic score</dt>
            <dd>
              <span
                th:if="${movie.metaScore >= 67}"
                th:text="${movie.metaScore}"
                class="badge text-bg-success"
              ></span>
              <span
                th:if="${34 <= movie.metaScore and movie.metaScore < 67}"
                th:text="${movie.metaScore}"
                class="badge text-bg-warning"
              ></span>
              <span
                th:if="${movie.metaScore < 34}"
                th:text="${movie.metaScore}"
                class="badge text-bg-danger"
              ></span>
            </dd>
          </div>

          <div th:if="${movie.ageRating}">
            <dt>Age Rating</dt>
            <dd th:text="${movie.ageRating}"></dd>
          </div>

          <div th:if="${movie.runtime}">
            <dt>Runtime</dt>
            <dd th:text="${movie.runtime}"></dd>
          </div>

          <div th:if="${movie.language}">
            <dt>Language</dt>
            <dd th:text="${movie.language}"></dd>
          </div>

          <div th:if="${movie.country}">
            <dt>Country</dt>
            <dd th:text="${movie.country}"></dd>
          </div>

          <div th:if="${movie.awards}">
            <dt>Awards</dt>
            <dd th:text="${movie.awards}"></dd>
          </div>

          <div th:if="${movie.dvd}">
            <dt>Dvd</dt>
            <dd th:text="${movie.dvd}"></dd>
          </div>

          <div th:if="${movie.boxOffice}">
            <dt>Box Office</dt>
            <dd th:text="${movie.boxOffice}"></dd>
          </div>

          <div th:if="${movie.website}">
            <dt>Website</dt>
            <dd>
              <a th:href="${movie.website}" target="_blank">Link</a>
            </dd>
          </div>

          <div th:if="${movie.ratingsCount}">
            <dt>User's ratings count</dt>
            <dd th:text="${movie.ratingsCount}"></dd>
          </div>

          <div th:if="${movie.averageRating}">
            <dt>User's average rating</dt>
            <dd th:text="${movie.averageRating}"></dd>
          </div>
        </dl>
      </section>

      <!-- comments section -->
      <section class="mb-2">
        <header class="mb-1">
          <h3>Comments</h3>
        </header>

        <form
          sec:authorize="isAuthenticated()"
          th:action="@{/movies/{id}/comments(id=${movie.id})}"
          th:object="${newComment}"
          method="post"
          class="mb-3"
        >
          <div class="mb-3">
            <label for="comment" class="form-label">Your new comment</label>
            <textarea
              id="comment"
              name="text"
              th:field="*{text}"
              class="form-control"
              rows="4"
              placeholder="Tell everyone what you think about this movie..."
            ></textarea>
            <p
              th:if="${#fields.hasErrors('text')}"
              th:errors="*{text}"
              class="form-text text-danger"
            ></p>
          </div>
          <button type="submit" class="btn btn-primary">Add comment</button>
        </form>

        <p th:if="${movieComments.isEmpty()}">
          This movie does not have any comments yet.
        </p>

        <div class="card w-100 mb-1" th:each="comment : ${movieComments}">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h5
                class="card-title"
                th:text="'Author: ' + ${comment.author}"
              ></h5>

              <!-- delete comment button -->
              <form
                sec:authorize="isAuthenticated()"
                th:if="${user != null && (user.username == comment.author || isAdmin)}"
                th:action="@{/movies/{id}/comments/{commentId}/delete(id=${movie.id}, commentId=${comment.id})}"
                method="post"
              >
                <button
                  class="btn btn-outline-danger btn-sm"
                  type="submit"
                  title="delete comment"
                >
                  <i class="bi bi-x-lg"></i>
                </button>
              </form>
            </div>

            <h6
              class="card-subtitle mb-2 text-muted"
              th:text="${#temporals.format(comment.createdAt, 'dd-MM-yyyy HH:mm')}"
            ></h6>
            <p class="card-text" th:text="${comment.text}"></p>
          </div>
        </div>
      </section>
    </article>
  </body>
</html>
`
